.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1f2937;
}
.header-logo {
  margin-right: auto;
  margin-left: 100px;
  color: #f9faf8;
  font-size: 24px;
}
.header-links {
  display: flex;
  margin-right: 100px;
  color: #f9faf8;
  gap: 10px;
  font-size: 18px;
}
a {
  color: #f9faf8;
}
.container2 {
  display: flex;
  gap: 50px;
  padding-top: 10px;
  background-color: #1f2937;
  color: whitesmoke;
  gap: 280px;
}
.hero-section {
  width: 30%;
  margin-left: 100px;
  margin-bottom: 30px;
}
h2 {
  font-size: 40px;
  color: #f9faf8;
  font-weight: bolder;
}
.hero--img {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.signup-btn {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 10px;
  width: 100px;
  border-radius: 8px;
  border: none;
}
.signup-btn:hover{
  cursor: pointer;
}
p {
  font-size: 18px;
}
.container3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
#container-title {
  font-size: 36px;
  font-weight: bolder;
}
.container4 {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 60px;
}
.info-div {
  width: 200px;
  height: 200px;
}
.info-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 3px solid blue;
  margin-bottom: 10px;
}
.container5 {
  margin-top: 60px;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  display: flex;
}
.quote-block {
  text-align: center;
  padding: 50px;
}
#quote-text > p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 50px;
  background-color: #3882f6;
  color: whitesmoke;
  padding-left: 50px;
  padding-right: 50px;
}

#call-to-action-btn {
  background-color: #3882f6;
  border:2px solid whitesmoke;
  padding: 2px 15px;
  border-radius: 5px;
  color: whitesmoke;
}
#call-to-action-btn:hover {
  cursor: pointer;
}
footer {
  background-color: #1f2937;
  color: whitesmoke;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}