.container {
  background-color: #1f2937;
  display: flex;
  color: #f9faf8;
  align-items: center;
  justify-content: end;
  gap: 3px;

}
.logo-push-left {
  margin-right: auto;
  padding-left: 80px;
}
.links {

  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 190px;
  gap: 10px;
}
 div > a {
  color: lightgray;
  flex: 1;
 }

.hero {
  background-color: #1f2937;
  display: flex;
  color: #f9faf8;
  flex: 1;
}
.hero-box {
  display: flex;
  flex: 1;
  text-align: center;
}
.hero-text {
  flex: 1;
  text-align: left;
  width: 50%;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 30px;
}
img {
  flex: 1;
  width: 300px;
  height: 200px;

}
.signup-btn {
  background-color: blue;
  border-radius: 10px;
  color: white;
  height: 2rem;
  width: 5rem;
}
.hero-img {
  width: 50%;
  justify-content: center;
  align-self: center;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.random-info {
  display: flex;
}
